@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');



:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 225, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    /* Transition */
    --transition: all 400ms ease !important
}




body {
    font-family: 'Poppins', sans-serif !important;
    background: var(--color-bg) !important;
    color: var(--color-white) !important;
    line-height: 1.7 !important;
    /* background-image: url(../src/assets/—Pngtree—dot\ background\ texture_6070825.png); */

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500 !important;
}

h1 {
    font-size: 2.5rem !important;
}

section {
    margin-top: 8rem !important;
}

section>h2,
section>h5 {
    text-align: center !important;
    color: var(--color-light) !important;
}

section>h2 {
    color: var(--color-primary) !important;
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light) !important;
}

a {
    color: var(--color-primary) !important;
    transition: var(--transition) !important;
    
}

a:hover {
    color: var(--color-white) !important
}

.btn {
    width: max-content !important;
    color: var(--color-primary) !important;
    padding: 0.75rem 1.2rem !important;
    border-radius: 0.4rem !important;
    cursor: pointer !important;
    border: 1px solid var(--color-primary) !important;
    transition: var(--transition) !important;
}

.btn:hover {
    color: var(--color-bg) !important;
    background: var(--color-white) !important;
    border-color: transparent !important;

}

.btn-primary {
    background: var(--color-primary) !important;
    color: var(--color-bg) !important;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/************ Start Media  *******************/

/* ( Larg Screen  ) */
@media screen and(max-width: 1024px) {


    section {
        margin-top: 6rem;
    }

}


/* ( Small Screen  ) */
@media screen and(max-width: 600px) {


    section>h2 {
        margin-bottom: 2rem;
    }

}